/* -- FONTS -- */
@font-face {
  font-family: 'Lato-Black';
  src: url('../resources/fonts/Lato-Black.ttf')  format('truetype');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../resources/fonts/Lato-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../resources/fonts/Lato-Bold.ttf')  format('truetype');
}

@font-face {
    font-family: 'Script';
    src: url('../resources/fonts/always_forever.ttf')  format('truetype');
}



* {
	font-family: 'Lato-Light';
}

@import "partials/_variables.scss",
		"partials/_download.scss",
		"partials/_explore.scss";