/* -- FONTS -- */
@font-face {
  font-family: 'Lato-Black';
  src: url("../resources/fonts/Lato-Black.ttf") format("truetype"); }
@font-face {
  font-family: 'Lato-Regular';
  src: url("../resources/fonts/Lato-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Lato-Bold';
  src: url("../resources/fonts/Lato-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Script';
  src: url("../resources/fonts/always_forever.ttf") format("truetype"); }
* {
  font-family: 'Lato-Light'; }

body {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  body .home {
    position: relative;
    height: 100vh;
    overflow: hidden; }
  body header {
    text-align: center;
    margin-top: 9%; }
    body header h1 {
      color: #91a1b4;
      font-family: 'Lato-Black';
      font-size: 42px;
      margin: 0px; }
  body section.content {
    text-align: center;
    margin-bottom: 20px; }
    body section.content h3 {
      color: #b2c0d2; }
    body section.content a {
      color: #b2c0d2; }
      body section.content a:hover {
        color: #657A94; }
    body section.content .downloadBtn span {
      display: block;
      color: #8995a3;
      margin-top: 61px; }
    body section.content .downloadBtn .trialBtn {
      display: block;
      padding: 10px 19px;
      margin: auto;
      width: 267px;
      text-decoration: none;
      font-size: 22px;
      color: #fff;
      box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
      background: url("../resources/images/pattern.jpg");
      margin-bottom: 20px;
      margin-top: 10px;
      font-family: 'Lato-Regular'; }
      body section.content .downloadBtn .trialBtn:active {
        outline: none;
        box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3); }
      body section.content .downloadBtn .trialBtn:hover {
        box-shadow: 0 3px 1px rgba(0, 0, 0, 0.6); }
    body section.content .downloadBtn .buy {
      color: #a089a3;
      font-family: 'Lato-Regular';
      margin-top: 25px;
      display: block; }
      body section.content .downloadBtn .buy:hover {
        color: #7E7180; }
  body footer {
    position: fixed;
    width: 100%;
    padding: 9px;
    font-size: 12px;
    bottom: 0;
    text-align: center;
    background: #f0f0f0;
    z-index: 100;
    border-top: 1px solid gainsboro; }
    body footer a {
      color: #8995a3;
      text-decoration: none;
      border-right: 1px solid gainsboro;
      padding: 0 9px; }
      body footer a:last-child {
        border-right: none; }
      body footer a:hover {
        text-decoration: underline; }

div.exploreGIPHO {
  background: #f0f0f0;
  padding: 14px;
  position: relative;
  height: 100vh; }
  div.exploreGIPHO .GIPHOface {
    position: relative;
    float: left;
    padding: 5px;
    margin: 5px;
    width: 348px;
    text-align: center;
    overflow: hidden;
    height: 233px; }
  div.exploreGIPHO a {
    color: #2891D4;
    position: relative;
    top: 19px; }
  div.exploreGIPHO .info {
    padding: 2px;
    float: left;
    position: relative;
    width: 29%;
    margin: 10px;
    margin-left: 26px;
    font-size: 12px;
    color: #476382; }
  div.exploreGIPHO .features {
    float: right;
    position: relative;
    width: 54%;
    margin: 10px; }
    div.exploreGIPHO .features .feature {
      height: 180px;
      padding: 10px;
      border-bottom: 1px dashed #BBBBBB;
      box-shadow: 0 1px 0 #F9F9F9; }
      div.exploreGIPHO .features .feature .caption {
        position: absolute;
        width: 220px; }
        div.exploreGIPHO .features .feature .caption h3 {
          font-family: 'Script';
          margin-bottom: 0;
          font-size: 28px;
          color: #476382; }
        div.exploreGIPHO .features .feature .caption p {
          color: #8f9aa6;
          font-size: 13px;
          margin-top: 2px; }
      div.exploreGIPHO .features .feature img {
        float: right; }
  div.exploreGIPHO .pathFollower img {
    right: 70px;
    position: relative; }
  div.exploreGIPHO .rotation .caption {
    width: 260px; }
  div.exploreGIPHO .rotation img {
    position: relative;
    top: 38px;
    right: 63px; }
  div.exploreGIPHO .layers .caption {
    width: 317px; }
  div.exploreGIPHO .layers img {
    position: relative;
    top: 12px;
    right: 44px; }
  div.exploreGIPHO .backHome {
    border: 1px solid #D6D6D6;
    background: rgba(0, 0, 0, 0.0301) url("../resources/images/arrow1.png") no-repeat center;
    display: block;
    background-position: center 13px;
    position: absolute;
    bottom: 76px;
    right: 10px;
    padding: 20px;
    border-radius: 60px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    z-index: 105; }
    div.exploreGIPHO .backHome:hover {
      background-color: #DEDEDE;
      box-shadow: 0 0 10px #B5B5B5; }

/*# sourceMappingURL=global.css.map */
